[DEFAULT]
projdir = .

MergeOut = panel
ProjName = usb-gamepad

[Options]

#CropMarkLayers = *topsilkscreen,*bottomsilkscreen

# Set the maximum dimensions of the final panel, if known. You can set the
# dimensions of the maximum panel size supported by your board manufacturer,
# and GerbMerge will print an error message if your layout exceeds these
# dimensions. Alternatively, when using automatic placement, the panel sizes
# listed here constrain the random placements such that only placements that
# fit within the given panel dimensions will be considered. The dimensions are
# specified in inches.
# 10cm = 3.93701in
# 5cm = 1.9685in

PanelWidth = 3.93701
PanelHeight = 3.93701

# Set the amount of extra space to leave around the edges of the panel to
# simplify tooling and handling. These margins are specified in inches, and
# default to 0" if not specified. These spacings will only be visible to the
# board manufacturer if you enable crop marks (see CropMarkLayers above) or use
# an OutlineLayer.
LeftMargin   = 0.1
RightMargin  = 0.1
TopMargin    = 0.1
BottomMargin = 0.1

# Set the inter-job spacing (inches) in both the X-dimension (width) and
# Y-dimension (height). Normally these would be the same unless you're trying
# really hard to make your jobs fit into a panel of exact size and you need to
# tweak these spacings to make it work. 0.125" is probably generous, about half
# that is practical for using a band saw, but you probably want to leave it at
# 0.125" if you have copper features close to the board edges and/or are using
# less precise tools, like a hacksaw, for separating the boards.
# 1mm = 0.0393701
XSpacing = 0.0393701
YSpacing = 0.0393701

# Width of cut lines, in inches. The default value is 0.01". These are drawn on
# the layers specified by CutLineLayers.
CutLineWidth = 0.01

# Width of crop marks, in inches. The default value is 0.01". These are drawn on
# the layers specified by CropMarkLayers.
CropMarkWidth = 0.01

# This option is intended to reduce the probability of forgetting to include a
# layer in a job description when panelizing two or more different jobs.
# Unless this option is set to 1, an error will be raised if some jobs do not
# have the same layer names as the others, i.e., are missing layers. For
# example, if one job has a top-side soldermask layer and another doesn't, that
# could be a mistake. Setting this option to 1 prevents this situation from
# raising an error.
AllowMissingLayers = 1

# This option is intended to reduce the number of drills in the output by
# eliminating drill sizes that are too close to make a difference. For example,
# it probably does not make sense to have two separate 0.031" and 0.0315"
# drills. The DrillClusterTolerance value specifies how much tolerance is
# allowed in drill sizes, in units of inches. Multiple drill tools that span
# twice this tolerance will be clustered into a single drill tool. For example,
# a set of 0.031", 0.0315", 0.032", and 0.034" drills will all be replaced by a
# single drill tool of diameter (0.031"+0.034")/2 = 0.0325". It is guaranteed
# that all original drill sizes will be no farther than DrillClusterTolerance
# from the drill tool size generated by clustering.
#
# Setting DrillClusterTolerance to 0 disables clustering.
DrillClusterTolerance = 0.002

# Use this option to automatically thicken features on particular layers. This
# is intended for thickening silkscreen to some minimum width. The value of
# this option must be a comma-separated list of layer names followed by minimum
# feature sizes (in inches) for that layer. Comment this out to disable thickening.
#MinimumFeatureSize = *topsilkscreen,0.008,*bottomsilkscreen,0.008

[MergeOutputFiles]
Prefix = %(projname)s_%(mergeout)s

*TopLayer=%(prefix)s.GTL
*BottomLayer=%(prefix)s.GBL
*TopSilkscreen=%(prefix)s.GTO
*BottomSilkscreen=%(prefix)s.GBO
*TopSoldermask=%(prefix)s.GTS
*BottomSoldermask=%(prefix)s.GBS
Drills=%(prefix)s.TXT
BoardOutline=%(prefix)s.GML
ToolList = %(prefix)s.toollist.drl
Placement = %(prefix)s.placement.plc

[Proj]

Prefix=%(projdir)s/%(projname)s

*TopLayer=%(prefix)s.GTL
*BottomLayer=%(prefix)s.GBL
*TopSilkscreen=%(prefix)s.GTO
*BottomSilkscreen=%(prefix)s.GBO
*TopSoldermask=%(prefix)s.GTS
*BottomSoldermask=%(prefix)s.GBS
Drills=%(prefix)s.TXT
BoardOutline=%(prefix)s.GML

